
<h1>管理者画面</h1>



<h2>本日の注文件数</h2>
<div class="container">
	<row>
		<div class="col-md-4 col-md-offset-4">
		<div class="pull-left">
		</div>
		<%= link_to @historys.count, admin_histories_path %>
		</div>
	</row>
</div>

