<h1>カート内ページ</h1> 


<h2>ショッピングカート</h2>

<!-- 下記にカートに追加された商品情報を表示させる -->

<!-- 「商品名」「単価(税込)」「数量」「小計」 -->

<!-- 「カートを空にする」ボタンを設置する -->

<!-- 「削除する」ボタンを設置する -->

<!-- 「合計金額(税抜)」金額を表示させる -->

<!-- 「買い物を続ける」ボタンを設置し、押すと「トップページ」に遷移する -->




<!-- 「情報入力に進む」ボタンを設置、押すと「購入情報入力ページに遷移する」 -->