<h1>カート内ページ</h1> 


<h2>ショッピングカート</h2>

<!-- 下記にカートに追加された商品情報を表示させる -->

<p>商品名</p>
<!-- 「商品画像」表示 -->

<p>単価(税込)</p>

<p>数量</p>
<!-- デフォルトで「1」が表示され、「変更」ボタンを押すと数量を変更できる -->

<p>小計</p>


<!-- 「カートを空にする」ボタンを設置する -->

<!-- 「削除する」ボタンを設置する -->
<%= link_to "削除する", quantity_path(quantity.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<!-- 「合計金額(税抜)」金額を表示させる -->

<!-- 「買い物を続ける」ボタンを設置し、押すと「トップページ」に遷移する -->
<!-- 下記自信ない -->
<%= link_to "買い物を続ける", /_path(shipping_address.id) %>



<!-- 「情報入力に進む」ボタンを設置、押すと「購入情報入力ページに遷移する」 -->