<h1>アバウトページ</h1>
<h2>ケーキ美味しいよ</h2>
<div class=" test">
	<div class="slider">
      <%= image_tag 'img/sweets1', class:"main-visual-about" %>
      <%= image_tag 'img/test2', class:"main-visual-about" %>
      <%= image_tag 'img/test3', class:"main-visual-about" %>
    </div>
</div>
<div class="main-visual">
    <div class="main-visual-content">
      <h1 class="main-visual-text">
        NAGANO CAKE
      </h1>
      <h2 class="main-visual-text">
        2020 umami kiwami gomi
      </h2>
    </div>
</div>
<div class="main-visual">
    <div class="main-visual-content">
      <p class="main-visual-text">
        美味しいやつ<br>
        まじで<br>
        うまい
      </p>
      <p class="main-visual-name">
        うまみの極み
      </p>
    </div>
  </div>
 <!--<script src="javascripts/jquery.min.js"></script>
 <script src="javascripts/skippr.min.js"></script>
 <script src="javascripts/script.js"></script>-->