
<h1>~採用情報~</h1>
<div class ="container">
	<table class="table cart_table col-xs-12">
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>募集職種</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>パティシェ</h3>
			</th>
		</tr>
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>応募資格</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>
					学歴不問、誰でもいい
				</h3>
			</th>
		</tr>
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>勤務時間</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>
					一日１０時間：残業あり<br>
					週休2日<br>
					不定休
				</h3>
			</th>
		</tr>
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>勤務地</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>
					NAGANO
				</h3>
			</th>
		</tr>
	</table>
</div>
<h1>待遇</h1>
<div class ="container">
	<table class="table cart_table col-xs-12">
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>給与</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>歩合制（例）【入社２年目】⇨月給（１.５万）＋歩合２０円</h3>
			</th>
		</tr>
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>賞与</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>
					気分
				</h3>
			</th>
		</tr>
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>その他</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>アットホームな会社です。<br>
					気合いがあればなんとかなります。
				</h3>
			</th>
		</tr>
		<tr>
			<th class="panel cart_panel col-xs-6 col-ms-3 col-md-4 col-lg-4">
				<h3>福利厚生</h3>
			</th>
			<th class=" col-xs-6 my_text text-center">
				<h3>
					車内寮完備、スポーツジム行ける。
				</h3>
			</th>
		</tr>
	</table>
</div>
